# SPDX-License-Identifier: Apache-2.0
# Licensed to the Ed-Fi Alliance under one or more agreements.
# The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
# See the LICENSE and NOTICES files in the project root for more information.

name: On Pre-Release
on:
  release:
    types:
      - prereleased

env:
  ARTIFACTS_API_KEY: ${{ secrets.AZURE_ARTIFACTS_PERSONAL_ACCESS_TOKEN }}
  ARTIFACTS_FEED_URL: ${{ vars.AZURE_ARTIFACTS_FEED_URL }}
  VSS_NUGET_EXTERNAL_FEED_ENDPOINTS: '{"endpointCredentials": [{"endpoint": "${{ vars.AZURE_ARTIFACTS_FEED_URL }}","password": "${{ secrets.AZURE_ARTIFACTS_PERSONAL_ACCESS_TOKEN }}"}]}'
  MANIFEST_FILE: "_manifest/spdx_2.2/manifest.spdx.json"
  PACKAGE_NAME: "AdminApi"
  IMAGE_NAME: ${{ vars.IMAGE_NAME }}
  DATABASE_IMAGE_NAME: ${{ vars.DATABASE_IMAGE_NAME }}
  DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
  DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
  REF: ${{ github.ref_name }}

permissions: read-all

jobs:
  docker-publish:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Wait 20s
        # Give Azure Artifacts caching a moment to catch up - Ok x2
        run: sleep 20

      - name: Prepare Tags
        id: prepare-tags
        run: |
          REF="${{ env.REF }}"
          if [[ $REF =~ "Pre-Release" ]]
          then
             # Remove Pre-Release prefix
             PREFIX="Pre-Release-"
             PACKAGEVERSION=${REF#"$PREFIX"}
          else
             PACKAGEVERSION=${REF}
          fi

          if [[ $PACKAGEVERSION =~ "pre" ]]
          then
            # Pre-releases get the tag "pre"
            APITAGS="${{ env.IMAGE_NAME }}:pre"
            DBTAGS="${{ env.DATABASE_IMAGE_NAME }}:pre"
            DBTAGS6x="${{ env.DATABASE_IMAGE_NAME }}:pre-for-6.2"
          else
            # Releases get the version, plus shortened form for minor release.
            # We are not using shortened form for major or using "latest"
            # because they are too imprecise.
            MINOR=`echo ${PACKAGEVERSION} | awk -F"." '{print $1"."$2}'`
            APITAGS="${{ env.IMAGE_NAME }}:${PACKAGEVERSION},${{ env.IMAGE_NAME }}:${MINOR}"
            DBTAGS="${{ env.DATABASE_IMAGE_NAME }}:${PACKAGEVERSION},${{ env.DATABASE_IMAGE_NAME }}:${MINOR}"
          fi

          SEMVERSION=${PACKAGEVERSION:1}  # strip off the leading 'v'
          echo "APITAGS=$APITAGS" >> $GITHUB_OUTPUT
          echo "DBTAGS=$DBTAGS" >> $GITHUB_OUTPUT
          echo "DBTAGS6x=$DBTAGS6x" >> $GITHUB_OUTPUT
          echo "VERSION=$SEMVERSION" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5  # v3.8.0

      - name: Log in to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567  # v3.3.0
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_HUB_TOKEN }}

      - name: Extract metadata (tags, labels) for admin api database image
        id: metadatabase
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96  # v5.6.1
        with:
          images: ${{ env.DATABASE_IMAGE_NAME }}

      - name: Build and push admin api database image 7.x
        uses: docker/build-push-action@b32b51a8eda65d6793cd0494a773d4f6bcef32dc  # v6.11.0
        with:
          context: "{{defaultContext}}:Docker/Settings/V2/DB-Admin/pgsql"
          cache-from: type=registry,ref=${{ env.DATABASE_IMAGE_NAME }}:pre
          cache-to: type=inline
          build-args: ADMIN_API_VERSION=2.3.0-pre1.15
          file: Dockerfile
          tags: ${{ steps.prepare-tags.outputs.DBTAGS }}
          labels: ${{ steps.metadatabase.outputs.labels }}
          push: false

      - name: Build and push admin api database image 6.x
        uses: docker/build-push-action@b32b51a8eda65d6793cd0494a773d4f6bcef32dc  # v6.11.0
        if: startsWith(github.event.release.tag_name, 'Pre-Release') || startsWith(github.event.release.tag_name, 'v1.')
        with:
          context: "{{defaultContext}}:Docker/Settings/V1/DB-Admin/pgsql"
          cache-from: type=registry,ref=${{ env.DATABASE_IMAGE_NAME }}:pre-for-6.2
          cache-to: type=inline
          build-args: ADMIN_API_VERSION=2.3.0-pre1.15
          file: Dockerfile
          tags: ${{ steps.prepare-tags.outputs.DBTAGS6x }}
          labels: ${{ steps.metadatabase.outputs.labels }}
          push: false